body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0a3d62, #3c6382);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    animation: fadeIn 0.4s ease-out;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a3d62;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0a3d62;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #06527d;
}

#loginMessage {
    margin-top: -5px;
    text-align: center;
    font-weight: bold;
}

.link-registro {
    text-align: center;
    margin-top: 10px;
}

.link-registro a {
    color: #0a3d62;
    text-decoration: none;
    font-weight: bold;
}
